body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* Le vrai flag est invisible par défaut */
#realFlag {
    display: none;
}

/* Faux flag affiché en rouge */
#fakeFlag {
    font-weight: bold;
    color: red;
}

/* Le texte d'indice est invisible */
.hiddenMessage {
    color: black;
    font-size: 12px;
}

/* On le rend visible si le joueur survole */
.hiddenMessage:hover {
    color: white;
}

