body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

/* Le vrai flag est invisible par défaut */
#realFlag {
    display: none;
}

/* Faux flag affiché en rouge */
#fakeFlag {
    font-weight: bold;
    color: red;
}

/* Compteur d'échecs */
#failCount {
    font-size: 18px;
    color: yellow;
}

/* Troll message */
#trollMessage {
    font-size: 20px;
    color: red;
} 
